/.env
tax.docx
tax_with_table.docx
chroma/chroma.sqlite3
chroma/7ea3faac-3f5a-429f-a556-3c9c03eb119e/data_level0.bin
chroma/7ea3faac-3f5a-429f-a556-3c9c03eb119e/header.bin
chroma/7ea3faac-3f5a-429f-a556-3c9c03eb119e/length.bin
chroma/7ea3faac-3f5a-429f-a556-3c9c03eb119e/link_lists.bin
